@model MvcVendingMachine.Models.Machine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namaproduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namaproduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hargaproduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hargaproduk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
