@model MvcVendingMachine.ViewModel.MachineImageViewModel



<form method="post">
    <input type="hidden" asp-for="Id" />
    
<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namaproduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namaproduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hargaproduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hargaproduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gambar)
        </dt>
        <dd class = "col-sm-10">
            @foreach( var images in Model.ImageString)
            {
                <img src="~/Images/@images.ImagePath" class="rounded-circle" width="70" height="70" asp-append-version="true">
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Indexproduct">Back to List</a>
</div>
</form>


